<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Megrim|Raleway" rel="stylesheet">

<div class="container-fluid header">
  <div class="col-md-12">
      <a href="/home">
       <span style="font-family: 'Megrim'; color:white; font-size: 48pt;">Ralabs App</span>
      </a>
  </div>
</div>

<div class="container-fluid create">
    <div class="row">
   	<%= form_for(@message) do |f| %>  
  		<div class="col-md-12 field"> 
    		<%= f.label :message %> 
    		<%= f.text_area :body %><br>                
  		</div> 
  		<div class="col-md-12 actions create-btn"> 
    		<%= f.submit "Create" %> 
  		</div> 
		<% end %>
      
    </div>
    <div class="row footer">
        <div class="col-md-12">
            <div class="short-intro">
                <p>This message will self-destroy automatically after closing the page...</p><br>
            </div>
        </div>
    </div>
</div>